
/* =============================================================
   GENERAL STYLES
 ============================================================ */
 body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    padding: 0; 
 
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}


.navbar h1::after {
    content: " ";
    display: block;
    width: 200px;
    margin: 12px auto;
    border: solid 2px #d80a0a;
    width:15vw;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 52px;
    position: absolute;
    top: 9px;
    left: 56px;
    
}

#menu {
    background-color: rgba(0, 0, 0,1);
    color: #B90606;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
    margin-bottom: 1px;
}

.navbar
{
    margin:0px;
    border-radius: 0px;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    padding: 22px 10px;
}

.navbar-header h1
{
    display: inline-block;
    width: 17%;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 120px;
    color: white;
    font-size:2.7vw;

}

.navbar-header h1::after
{
    border: solid 2px #d80a0a;
    width:15vw;
    position: absolute;
    left: 3px;
}

/*========================*/

.back{
    background-image:url('image/BloodDonation.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.avater{

    width: 20%;
    height: 30%;
    margin-top: 10px;
}
.thename{
    font-size:40px;
    color:whitesmoke;

}
.information{
    color:#80e5ff;
}
ul li{
    margin-right: 100px;
    margin-left: 50px;
    
}

#userImg
{
    border-radius: 90px;
}
.notf{

    display: inline-block;
    float:left;
    margin:auto;

}
.notf1{

    float:right;
    margin: auto;
    
}

.alertDiv
{
    display: inline-block;
    width:100%;
}
.alarm{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;


}
.notf2 img{
    position: relative;
    margin-top: -20px;
    
}
.notf2{
    display: inline-block;
    float: left;
    width:30wv;
}

.notf3{

    float:right;
    margin-top: 0px;
    
}
.part1{
    width:50%;
    display: inline-block;
}
.part2{
    width:40%;
    display:inline-block;
    position: relative;
    top:-30%;
    float: right;
}
.badge-notify{
    background-color:red;
    position:absolute;
    top:0px;
   }
   #nav{
       padding: 0px;
       margin-bottom:5px;
   }
 .back2{
    background: rgba(88, 38, 38, 0.2);
     background-size: cover;
     margin-top:-5px; 
     background-repeat: no-repeat;
     background-size:100% 100%; 
     
     
 }
.divinformation{
    margin:24px;
}

/*=====================================
  Footer STYLES 
  ===================================*/
  #footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
    margin-top: 1px;
}
#footer a
{
    text-decoration: none;
    color: white;
}
