
/* =============================================================
   GENERAL STYLES
 ============================================================ */
 body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
    
    margin: 0;
    padding: 0; 
    background-image: url("../img/BloodDonation.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;    
    

}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}


.navbar h1::after {
    content: " ";
    display: block;
    margin: 12px auto;
    border: solid 2px #d80a0a;
    width:17vw;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 52px;
    position: absolute;
    top: 9px;
    left: 56px;
    
}

#menu {
    background-color: rgba(0, 0, 0,1);
    color: #B90606;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
    margin-bottom: 100px;
}

.navbar
{
    margin:0px;
    border-radius: 0px;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    padding: 22px 10px;
}

.navbar-header h1
{
    display: inline-block;
    width: 18%;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 120px;
    color: white;
    font-size:2.7vw;

}

.navbar-header h1::after
{
    border: solid 2px #d80a0a;
    width:15vw;
    position: absolute;
    left: 3px;
}


/*=====================================
  sign in STYLES 
  ===================================*/
  .mainDiv
  {
      text-align: center;
  }

.signinbox
{
    background: rgb(240, 232, 232);
    color:#000;
    
    position: relative;
    box-sizing:border-box;
    padding: 70px 50px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    
    

}

.bloodicon
{
width:100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -10%;
left: calc(50% - 50px);
}

h1 {
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.signinbox label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signinbox input
{
    width:100%;
    margin-bottom: 20px;
}

.signinbox input[type="text"],input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fb2525;
    background: transparent;
    outline:none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.signinbox input[type="submit"]
{
    border: none;
    outline: none;
    height:40px;
    background: #fb2525;
    color: #000;
    font-size: 18px;
    border-radius: 20px;


}


    


.signinbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #FF3333;
    color:rgb(240, 232, 232);
}


.signinbox a, span
{
    text-decoration: none;
    font-size: 12px;
    line-height:20px;
    color:rgb(131, 130, 130);
}

.signinbox a:hover 
{
    color: #FF3333;
}
small
{
    color: red;
    margin: 0;
    padding: 0;
}
#massag , #InputEmail
{
    background-color:rgb(240, 232, 232);
}
  
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
    margin-top: 100px;
}
#footer a
{
    text-decoration: none;
    color: white;
}