<div class="mainDiv container">
    <div class="signinbox ">
        <h1>Forgot Email</h1>
        <form name="formRegister" action="#">

            <div class="form-group">
                <div>
                    <label for="InputEmail" id="emo">Email</label>
                    <input type="email" id="mail" name="email" id="InputEmail" placeholder="Enter Email" required>
                </div>
                <span id="m" style="color: darkred ;font-weight: 20px;"></span>

            </div>

                <button type="submit" id="sub" onClick="enter()">Send

                </button>
            <br>

            <span id="mass" style="color: darkred ;font-weight: 600"></span>
        </form>
    </div>

</div>