    <div class="container">
      <div class="part1">
        <div class="alert alert-info alertDiv" >
          <div class="notf"> <strong>The Result of check up appread</strong>
          </div>
          <div class="notf1">yestarday</div>
        </div>
        <div class="alert alert-info alertDiv" >
          <div class="notf">  <strong>found hospital need blood</strong>
          </div>
          <div class="notf1">yestarday</div>
        </div> 
        <div class="alert alert-danger alertDiv" >
          <div class="notf2"><img src="image/warning (1).png"/><h4 class="alarm">some one need donate!<button onclick="hideme()">Details</button></h4>
          </div>
          <div class="notf3">yestarday</div>  
        </div>
      </div>
      <div class="part2" hidden>  
              <span class="glyphicon glyphicon-user"></span><span>:      </span> <label>user name</label><br><br>
              <span class="glyphicon glyphicon-home"></span><span>:      </span><label>address</label><br><br>
              <span class="glyphicon glyphicon-phone-alt"></span><span>:      </span><label>phone</label><br><br>
       </div>  
      </div>
    </div>
   

        
        